<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hbhongfei.hfcable">

    <!-- 支付需要的通用权限 -->
    <!--
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    -->
    <uses-permission android:name="android.permission.NFC" />

    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.NFC" />

    <!-- 上网的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 拍照的权限 -->
    <uses-permission android:name="ANDROID.PERMISSION.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 短信验证码相关权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MyFavoriteActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MyOrderActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MyShoppingActivity"
            android:label="我的购物车"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MyInfoActivity"
            android:label="@string/myInfo_title"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.ProdectInfoActivity" />
        <activity android:name=".activity.ShowBigPictrue" />
        <activity
            android:name=".activity.CompanyInfoActivity"
            android:label="@string/company_info"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.ProdectListActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.InfoDetailActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MyPasswordActivity"
            android:label="@string/title_activity_my_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyNameActivity"
            android:label="@string/title_activity_my_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OrderPayActivity"
            android:label="@string/title_activity_order_pay"
            android:parentActivityName=".activity.ConfirmOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ReceiptAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 添加购物车 -->
        <activity android:name=".activity.AddRecietAddress" />
        <!-- 画图 -->
        <activity android:name=".activity.MarketChartActivity" />
        <activity android:name=".activity.CitySelect1Activity" />
        <activity android:name=".activity.GuideActivity" />

        <!-- 项目 -->
        <activity android:name=".activity.ProjectActivity" />
        <activity
            android:name=".activity.ConfirmOrderActivity"
            android:label="@string/comfirm_order_sure"
            android:parentActivityName=".activity.MyShoppingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ImageCropActivity" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.InputMyInfoActivity"
            android:label="@string/title_activity_input_my_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WriteCableRingActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.ImageBucketChooseActivity" />
        <activity android:name=".activity.ImageChooseActivity" />
        <activity android:name=".activity.ImageZoomActivity" />
        <activity android:name=".activity.CommentActivity" />
        <!-- 地址列表 -->
        <activity
            android:name=".activity.AddressListActivity"
            android:parentActivityName=".activity.ConfirmOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.OrderDetailActivity" />
        <activity android:name=".activity.LogisticsDetailsActivity" />

        <!-- Ping++ sdk -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付 sdk ，也是 Ping++ sdk 调用入口 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />
        <!-- 支付宝 sdk -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>

        <!-- 银联支付 sdk -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".activity.PayStateActivity"
            android:label="@string/title_activity_pay_success"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>